In [1]:
import pandas as pd

In [5]:
Data = pd.read_csv('../Data/FPD.csv')

In [9]:
print(Data.head())

   feature_1  feature_2  feature_3  feature_4  feature_5  feature_6  \
0   15000.00         62          1          0    2240.50    70.0000
1   50024.53         61          1          0     496.72  1522.0000
2   32770.00         34          0          1    1489.81   186.4286
3   82003.32         33          1          0        NaN        NaN
4   11057.77         68          1          0     261.20     7.8571

   feature_7  feature_8  feature_9  feature_10  ...  feature_78  feature_79  \
0   104.2857         45         52      1.2155  ...           0           0
1   439.1429          1          1      0.0266  ...           3           0
2     0.0000         11         11      0.7938  ...           2           2
3        NaN          0          0         NaN  ...           5           2
4    32.2857         17         22      0.5889  ...           3           2

   feature_80  feature_81  feature_82  feature_83  feature_84  feature_85  \
0           0           2           1       False          60           1
1           0           0           1       False          80           5
2           0           1           1       False          90           7
3           0           1           1       False          80           9
4           0           1           1       False          85           6

                 ID  target
0  4b40dd0dd9d20f49       0
1  c7bbe911fe698fd0       0
2  6d9eafd42fe25cce       0
3  b7d3493315b18413       0
4  ea64144ab2a596a3       0

[5 rows x 87 columns]

In [11]:
Data.head()

,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,feature_10,...,feature_78,feature_79,feature_80,feature_81,feature_82,feature_83,feature_84,feature_85,ID,target
0,15000.00,62,1,0,2240.50,70.0000,104.2857,45,52,1.2155,...,0,0,0,2,1,False,60,1,4b40dd0dd9d20f49,0
1,50024.53,61,1,0,496.72,1522.0000,439.1429,1,1,0.0266,...,3,0,0,0,1,False,80,5,c7bbe911fe698fd0,0
2,32770.00,34,0,1,1489.81,186.4286,0.0000,11,11,0.7938,...,2,2,0,1,1,False,90,7,6d9eafd42fe25cce,0
3,82003.32,33,1,0,NaN,NaN,NaN,0,0,NaN,...,5,2,0,1,1,False,80,9,b7d3493315b18413,0
4,11057.77,68,1,0,261.20,7.8571,32.2857,17,22,0.5889,...,3,2,0,1,1,False,85,6,ea64144ab2a596a3,0